@media screen and (min-width: 900px){
    h1 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;        
    }
    a {
        font-size: 14px;
    }
    #sidebarContent {
        height: 300px;
        margin-bottom: 25px;
    }
    #sidebarFrame {
        margin-bottom: 80px;
    }
    #switch {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 1400px){
    #sidebarContent {
        height: 400px;
        margin-bottom: 50px;
    }
    #switch {
        margin-top: 10px;
        margin-bottom: 22px;
    }
}

#mapDivId {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

dt {
    font-weight: bold;
}

#sidebarFrame {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 0;
    top: 0;
    padding: 0;
    /*background-color: rgb(112, 112, 112);*/
}

#sidebarContent {
    position: relative;
    padding: 5px;
    color: #adff2f;
}

#sidebarContent h1 {
    padding: 0 15px 0 10px;
    display: inline;
}

#sidebarList {
    padding: 5px 0 5px 0;
    font-size: 10pt;
    display: inline;
    color: #fff;
}
#sidebarList b{
    color: #adff2f;
}

#titleInfo {
    display: inline;
}

#onOff {
    position: relative;
    margin-left: 195px;
    font-size: 7.5pt;
}

#leftList {
    width: 60%;
    display: inline-block;
}

#rightList {
    
    float: right;
    width: 40%;
}

#author {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #adff2f;
    position: relative;
    bottom: 0;
    padding: 5px 0 5px 5px;
    text-align: center;
}

#switch {
    position: relative;
}

#switch a{
    position: relative;
    padding-right: 10px;
}

#yearpicker a{
    position: relative;
    padding-left:15%;
    padding-right: 30px;
}


#pcpFrame {
    position: absolute;
    background-color: darkgray;
    bottom: 0;
    width:100%;
}