#mapDivId {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#sidebarFrame {
    position: relative;
    right: 0;
    top: 0;
    /*width: 20%;
    height: 70%;*/
    margin: 0 0 0 0;
    padding: 0;
    /*background-color: rgb(112, 112, 112);*/
}

#sidebarContent {
    position: relative;
    padding: 5px;
    color: greenyellow;
}

#pcpFrame {
    position: relative;
    /*right: 0;
    bottom: 0;*/
    /*width: 20%;
    height: 30%;*/
    background-color: lightgray;
    /*background-color: green;*/
}